backend:
  name: git-gateway
  branch: master
media_folder: static/media
public_folder: /media
collections:
  - name: blog
    label: ブログ
    folder: "src/blogs/"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { name: date, label: 日付, widget: date }
      - { name: title, label: タイトル }
      - { name: body, label: 本文, widget: markdown }
  - name: page
    label: ページ
    folder: "src/pages/"
    create: true
    slug: "{{slug}}"
    fields:
      - { name: date, label: 日付, widget: date }
      - { name: title, label: タイトル }
      - { name: subTitle, label: サブタイトル, widget: "text", required: false}
      - { name: slug, label: スラッグ }
      - { name: body, label: 本文, widget: markdown }
  - name: teacher
    label: 先生プロフィール
    folder: "src/teachers/"
    create: true
    fields:
      - { name: id, label: ID, widget: string }
      - { name: shortNameJP, label: `苗字（日本語。「先生」は不要例:バルダン)`, widget: string}
      - { name: longNameEN, label: `Full Name in alphabet; e.g.:Jean-Michel Bardin`, widget: string}
      - { name: longNameJP, label: `フルネーム（日本語。「先生」は不要。例:ジャン－ミッシェル・バルダン)`, widget: string}
      - { name: language, label: 教科言語（例：フランス語）, widget: string}
      - { name: image, label: プロフィール写真, widget: image }
      - { name: comment, label: 一言コメント, widget: text }
      - { name: profile, label: プロフィール本文, widget: markdown }
      
      